<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta charset="UTF-8" />
    <link rel="icon" href="/src/assets/test/yiya.png" />
    <title>yiya</title>
    <meta name="description" content="<%= appDesc %>" />
    <meta name="keywords" content="<%= appKeywords %>" />
  </head>
  <body>
    <div id="app"  style="overflow-x: auto;"></div>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.4/jquery.js"></script>
    <script src="./live2d-widget/autoload.js"></script>
    <script type="module" src="/src/main.ts"></script>
  </body>
  <style>
  </style>
</html>


